
body{
  font-family:arial,helvetica,sans-serif;
  font-size: 12px;
  color: #666;
  margin:0;
  padding:0;
  background-color:#999;
}

.contentDiv{
  background-color:white;width:960px; margin:0 auto;
}

a{
  text-decoration:none;
  color:#666;
  font-weight:bold;
}
a:hover{
  color:#36c;
  font-weight:bold;
}
.headOne{
  margin-top:0px;margin-bottom:0px;
  font-family:Georgia;
  font-size:20px;
  color:#000;
}
table, td, th , tr{
    border: 1px solid rgb(216, 223, 217);
  }

  .tblSty{
    border:1px solid #ccc;
    border-collapse:collapse; 
    padding:3px;
    width:98%;margin-bottom:15px;
    font-size: 12px;
}
td{
    padding:3px;
}


  #loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
    
    #loading_b{
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        border-bottom: 16px solid #3498db;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

  
.headerLeft{
  display:table-cell;padding-left:8px;padding-top:8px;
}

.headerRight{
  display:table-cell;vertical-align: middle;padding-left:15px;
}

.navBar{
  background-color:#ccc;margin:0px;height:28px;
}

.printLink{
  float:right; font-family:Arial;font-size:11px;font-weight:bold;color:black;cursor:pointer;
}