
<html>
    <head>
        <title>Fee Summary</title>
    </head>


<body>

<div class="contentDiv">

<div style="height:80px;margin:0px;">
    <div style="float:left;">
        <!--<img src="https://www.nprstations.org/template/images/homelogo.gif">-->
        <div class="headerLeft"><a href="https://www.nprstations.org/"><img src="assets/images/homelogo.gif"></a></div>
        <div class="headerRight">{{thisdate | date: 'MMMM dd, yyyy'}} Welcome, {{this.model.FirstName}} </div>
    </div>
    <div style="float:right;padding-top:5px;text-align:right;">
        <a href="" style="margin-right:5px;">Request Help</a><br/>

        <!--
        <img src="https://www.nprstations.org/template/images/twitteratnprstations.png" alt="Follow @nprstations" border="0" style="padding-top:5px;float:right;">
        IMAGES STORED IN C:\Users\jespanol\Documents\node\memberfee\src\client\assets
        -->
        <a href="https://twitter.com/nprstations" data-show-count="false" target="_blank"><img src="assets/images/twitteratnprstations.png" alt="Follow @nprstations" border="0" style="padding-top:5px;float:right;"></a> 
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        <!--
        
        -->

    </div>
    <div style="clear:both;"></div>
    
</div>

<div class="navBar">
    <div style="padding-left:30px;padding-top:5px;"><a href="https://www.nprstations.org/" style="color:#36c;">Home</a></div>
</div>

<div *ngIf="this.noAccess"> 
    Access to station fee information is limited to authorized representatives. General information about NPR fees is here. Click here to view a summary of your station's NPR programs.
</div>

<div *ngIf="!this.loadPage" class="d-flex justify-content-center">
      <span class="sr-only" id="loading"></span>
</div>

<div *ngIf="!this.noAccess && this.opportunity.NPRStations_Validated__c && this.loadPage" style="padding:8px;"> 

<div class="headOne" style="float:left;">NPR FY 2022 Fee Summary</div>

<div class="printLink" onclick="window.print();"><img src="assets/images/icon_print.gif"> Print</div>

<p style="clear:both;"></p>

<p>For the year beginning October 1, 2021</p>


<p>
    Member Partnership representative: {{this.model.Account_Owner}}  <a href="mailto:{{this.model.Account_Owner_Email}}">{{this.model.Account_Owner_Email}}</a> {{this.model.Account_Owner_Phone}}  <br>
    Finance Contact:Ronneisha Brown <a href="mailto:Rbrown@npr.org">Rbrown@npr.org</a> (202) 513-2939
</p>

<p style="font-weight:bold;">{{this.model.Operator_Name}}</p>

<p>
    Organization responsibile for paying NPR Fees: {{this.model.Org_Responsible_for_Paying__c}} <br>
    Authorized representative:{{this.model.Responsible_Party__c}}<br>
    Billing Address:{{this.model.Address__c}}, {{this.model.City__c}} {{this.model.State__c}}, {{this.model.Zip__c}} <br>
    Billing Email: {{this.model.Billing_Email__c}}
</p>

<p>
    This fee summary covers access to and use of NPR programming and other <a href="https://www.nprstations.org/terms/memberbenefits.cfm">Member Benefits</a> by the following broadcast services and stations, as well as associated FM translators, booster stations, <a href="https://www.nprstations.org/terms/general.cfm#definitions">PSOAs</a> and <a href="https://www.nprstations.org/terms/general.cfm#definitions">Digital Platforms</a> owned and/or controlled by Member. You are responsible for ensuring that all such services, stations, and platforms adhere to these terms.
</p>
   

    
<table class="tblSty" *ngIf="arrServices">
    <!-- ADD HEADERS -->
    <tr style="font-weight:bold;">
        <td>Service</td>
        <td>Type</td>
        <td>Stations</td>
    </tr>

    <!-- BIND ARRAY TO TABLE -->
    <tr *ngFor="let service of arrServices">
        <td valign="top">{{service.Service__r.Name}}</td>
        <td valign="top">{{service.Broadcast_Service_Type__c}}</td>
        <td valign="top">{{service.Service_Broadcast_Stations__c}}</td>

    </tr>
</table>

<p>Notify your Member Partnership representative of any changes or corrections to services and stations listed above.</p>

<p style="text-decoration:underline;">Core Membership Fee</p>

<p>NPR is a membership organization that relies on the financial and operational support of its Members. The core fee covers a range of NPR <a href="https://www.nprstations.org/terms/memberbenefits.cfm">Member Benefits</a> designed to provide audience service, grow and engage audiences across platforms, and build sustainable business models. For broadcast services and stations listed as "news" above, it includes the right to broadcast NPR newsmagazines and newscasts. More information about the full range of Member Benefits, including applicable terms and conditions, is available <a href="https://www.nprstations.org/terms/general.cfm">here</a>.</p>

<p>Core fee: <b>{{this.totalCoreFee | currency}}</b>. {{this.msg_RuralMinority}}</p>

<p style="text-decoration:underline;">Individual Broadcast Programs</p>

<p>As of October 1, 2021, you agree to pay the following fees with respect to the individual broadcast programs that you have elected to purchase for broadcast on the services and stations referenced above. Information about each program, including applicable terms and conditions, is available <a href="https://www.nprstations.org">here</a>. The programs you have elected to purchase are indicated with a check mark in the table below.</p>


        <table class="tblSty" *ngIf="arrProducts">
            <!-- ADD HEADERS -->
            <tr>
                <td colspan="2"><b>Program</b></td> 
                <td><b>Broadcast Service</b></td>    
                <td><b>Tier</b></td>   
                <td><b>Subtotal</b></td>   
                <td><b>Price</b></td>    
                          
            </tr>
    
            <!-- BIND ARRAY TO TABLE -->
            <tr *ngFor="let product of arrProducts ">
                
                <!-- <td  align="center" style="text-align:center; font-size:150%; font-weight:bold; color:green;">&#10004;</td>

                <td>
                    <span ng-if="product.broadcastService!==''" ng-style="text-align:center; font-size:150%; font-weight:bold; color:green;" >&#10004;</span>
                    <span ng-if="product.broadcastService==='WAMU1'" ng-style="text-align:center; font-size:150%; font-weight:bold; color:rgb(4, 24, 4);" >&#10004;</span>
                    </td> -->


                <td align="middle">
                    <div *ngIf="product.broadcastService!==''; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>&#10004;</ng-template>
                    
                </td>
<!---{{product.link}} -->
                <td>

                    <span *ngIf="product.link; else noLnkTxt">
                        <a href="{{product.link}}">{{product.productName}}</a>
                    </span>
                      
                      <ng-template #noLnkTxt>
                        {{product.productName}}
                      </ng-template>

                    <!--
                    <span *ngIf="product.link; then noLnkTxt"><a href="{{product.link}}">{{product.productName}}</a></span>
                    <ng-template #noLnkTxt>{{product.productName}}</ng-template>
                    --->
                </td>
                <td>{{product.broadcastService}}</td>
                <td>{{product.tier}}</td>
                <td>{{ product.subtotal | currency}}</td>
                <td>{{product.price | currency}}</td>
                
                
            </tr>
        </table>


<p>Total price of individual broadcast programs: <b>{{this.totalNonNews| currency}}</b>.  {{this.msg_RuralMinority}}</p>


<p>You may add programs at any time during the year. You may drop programs with 90 days written notice to NPR. In either case, NPR will adjust the amount owed, with changes reflected on your next quarterly invoice. If you have paid the full year up front, a refund check will be issued or an additional invoice will be sent (as applicable).</p>



<p style="text-decoration:underline;">Summary</p>

<p>Total Fee: <b>{{ this.totalFee | currency }}</b>  (Core Membership Fee plus Individual Broadcast Program Fees). Fee if paid in full by September 27, 2021 (1% discount): <b>{{this.totalFeeWith1Perc | currency}}</b> </p>



<p *ngIf="!this.hideOnePerc"><input type="checkbox" [disabled]="this.opportunity.StageName==='Submitted' || this.opportunity.StageName==='Approved' " 
   
      (change)="onPaidInFullClciked($event)"
      ng-true-value="1" ng-false-value="0"> Check this box to receive the full year invoice and receive a 1% discount. <br>
    If you do not elect to pay in full in advance, NPR will bill you on a quarterly basis on or around October 1, January 1, April 1, and July 1. 
    Payment terms are net 30 days. </p>




<p>Acceptance of this fee summary is due September 30, 2021. </p>


<p>
    <input type="checkbox" [disabled]="this.opportunity.StageName==='Submitted' || this.opportunity.StageName==='Approved'" [checked]="this.opportunity.submitted" (change)="onConsentChecked($event)" ng-true-value="1" ng-false-value="0">
    By checking this box, I represent that I am the authorized representative for {{this.model.Operator_Name}} (“Member”) and, on behalf of Member,
     (1) I agree to pay the Total Fee set forth above, (2) I acknowledge that I have read, and agree to comply with, the terms 
     and conditions that are applicable to the  <a href="https://www.nprstations.org/terms/memberbenefits.cfm">Member Benefits</a> used by Member’s services and stations, and (3) I acknowledge and agree that my acceptance
      of this fee summary constitutes a binding agreement between Member and NPR.
</p>



<p>The authorized representative is responsible for ensuring that station staff adhere to the terms and conditions for applicable <a href="https://www.nprstations.org/terms/memberbenefits.cfm">Member Benefits</a>.
     NPR will communicate changes to the authorized representative by email. </p>

<p>
    <button type="submit" class="button"  [disabled]=" !this.opportunity.submitted || (this.opportunity.StageName==='Submitted' || this.opportunity.StageName==='Approved' )" color="primary" (click)="submitFee()" id="submit-button">Submit</button>  
</p>

<p *ngIf="this.loading" class="d-flex justify-content-center">
    <span class="sr-only" id="loading_b"></span>
</p>




</div>
<!-- <div style="position:absolute;top:50%;left:50%;right:50%;bottom:50%;background:white"  *ngIf="this.loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status" >
      <span class="sr-only" id="loading1"></span>
    </div>
  </div> -->

 
<router-outlet></router-outlet>

</div>
</body>
</html>