
<html>
    <head>
        <title>Program Summary</title>
    </head>


<body>
    
<div class="contentDiv">
<!---<img src="https://www.nprstations.org/template/images/homelogo.gif">-->
<div style="height:80px;margin:0px;">
    <div style="float:left;">
        <div class="headerLeft"><a href="https://www.nprstations.org/"><img src="assets/images/homelogo.gif"></a></div>
        <div class="headerRight">{{thisdate | date: 'MMMM dd, yyyy'}} Welcome, {{this.model.FirstName}} </div>
    </div>
    <div style="float:right;padding-top:5px;text-align:right;">
        <a href="" style="margin-right:5px;">Request Help</a><br/>

        <!--
            <a href="https://twitter.com/nprstations" class="twitter-follow-button" data-show-count="false" target="_blank">Follow @nprstations</a>
        -->
        <!--<img src="https://www.nprstations.org/template/images/twitteratnprstations.png" alt="Follow @nprstations" border="0" style="padding-top:5px;float:right;">-->
        <a href="https://twitter.com/nprstations" data-show-count="false" target="_blank"><img src="assets/images/twitteratnprstations.png" alt="Follow @nprstations" border="0" style="padding-top:5px;float:right;"></a> 
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        <!--
        
        -->

    </div>
    <div style="clear:both;"></div>
</div>

<div class="navBar">
    <div style="padding-left:30px;padding-top:5px;"><a href="https://www.nprstations.org/" style="color:#36c;">Home</a></div>
</div>
<!---
<div *ngIf="this.noAccess"> 
    Access to station fee information is limited to authorized representatives. General information about NPR fees is here. Click here to view a summary of your station's NPR programs.
</div>
-->
<div *ngIf="!this.loadPage" class="d-flex justify-content-center">
      <span class="sr-only" id="loading"></span>
</div>
<!--
    <div *ngIf="!this.noAccess && this.opportunity.NPRStations_Validated__c && this.loadPage" style="padding:8px;"> 
-->
<div *ngIf="this.opportunity.NPRStations_Validated__c && this.loadPage" style="padding:8px;"> 

<div class="headOne" style="float:left;">NPR FY 2022 Program Summary</div>

<div class="printLink" onclick="window.print();"><img src="assets/images/icon_print.gif"> Print</div>

<p style="clear:both;"></p>

<p>For the year beginning October 1, 2021</p>


<p>
    Member Partnership representative: {{this.model.Account_Owner}}  <a href="mailto:{{this.model.Account_Owner_Email}}">{{this.model.Account_Owner_Email}}</a> {{this.model.Account_Owner_Phone}}
</p>

<p style="font-weight:bold;">{{this.model.Operator_Name}}</p>

<p>Authorized representative:{{this.model.Responsible_Party__c}}</p>

<p>This program summary covers access to and use of NPR programming and other <a href="https://www.nprstations.org/terms/memberbenefits.cfm">Member Benefits</a> by the following broadcast services and stations, as well as associated FM translators, booster stations, <a href="https://www.nprstations.org/terms/general.cfm##definitions">PSOAs</a> and <a href="https://www.nprstations.org/terms/general.cfm##definitions">Digital Platforms</a> owned and/or controlled by Member. Station managers are responsible for ensuring that all such services, stations, and platforms adhere to these terms.</p>

    
<table class="tblSty" *ngIf="arrServices">
    <!-- ADD HEADERS -->
    <tr style="font-weight:bold;">
        <td>Service</td>
        <td>Type</td>
        <td>Stations</td>
    </tr>

    <!-- BIND ARRAY TO TABLE -->
    <tr *ngFor="let service of arrServices">
        <td valign="top">{{service.Service__r.Name}}</td>
        <td valign="top">{{service.Broadcast_Service_Type__c}}</td>
        <td valign="top">{{service.Service_Broadcast_Stations__c}}</td>

    </tr>
</table>

<p>Notify your Member Partnership representative of any changes or corrections to services and stations listed above.</p>

<p style="text-decoration:underline;">Core Membership Fee</p>

<p>NPR is a membership organization that relies on the financial and operational support of its Members. Fees cover a range of NPR Member Benefits designed to provide audience service, grow and engage audiences across platforms, and build sustainable business models. For broadcast services and stations listed as "news" above, the Membership core fee includes the right to broadcast NPR newsmagazines and newscasts. More information about the full range of Member Benefits, including applicable terms and conditions, is available <a href="https://www.nprstations.org/terms/general.cfm">here</a>.</p>

<p style="text-decoration:underline;">Individual Broadcast Programs</p>

<p>As of October 1, 2021, the individual broadcast programs indicated with a check mark in the table below will be purchased for the services and stations referenced above. Information about each program, including applicable terms and conditions, is available <a href="https://www.nprstations.org/programming/home.cfm" target="_blank">here</a>.  </p>

        <table class="tblSty" *ngIf="arrProducts">
            <!-- ADD HEADERS -->
            <tr>
                <td colspan="2"><b>Program</b></td> 
                <td><b>Broadcast Service</b></td>    
                <td><b>Start Date</b></td>   
                <td><b>Drop Date</b></td>   
                <td><b>End Date</b></td>    

            </tr>
    
            <!-- BIND ARRAY TO TABLE -->
            <tr *ngFor="let product of arrProducts ">
 
                <td align="middle">
                    <div *ngIf="product.broadcastService!==''; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>&#10004;</ng-template>
                    
                </td>

                <td>

                    <span *ngIf="product.link; else noLnkTxt">
                        <a href="{{product.link}}">{{product.productName}}</a>
                    </span>
                      
                      <ng-template #noLnkTxt>
                        {{product.productName}}
                      </ng-template>

                    <!--
                    <span *ngIf="product.link; then noLnkTxt"><a href="{{product.link}}">{{product.productName}}</a></span>
                    <ng-template #noLnkTxt>{{product.productName}}</ng-template>
                    --->
                </td>
                <td>{{product.broadcastService}}</td>
                <td>{{product.startDate}}</td>
                <td>{{product.dropDate}}</td>
                <td>{{product.endDate}}</td>
                
                
            </tr>
        </table>

        <p>You may add programs at any time during the year. You may drop programs with 90 days written notice to NPR.</p>



</div>
<!-- <div style="position:absolute;top:50%;left:50%;right:50%;bottom:50%;background:white"  *ngIf="this.loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status" >
      <span class="sr-only" id="loading1"></span>
    </div>
  </div> -->

 
<router-outlet></router-outlet>

</div>
</body>
</html>